:root {
  --white: #fff;
  --black: #111111;
  --dark-gray: #333333;
  --gray: #575757;
  --light-gray: #f3f3f4;
  --line-gray: #e1e1e1;
  --orange: #ff9514;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]:disabled {
  cursor: default;
  opacity: 0.4;
}

input[type="range"]:disabled {
  cursor: default;
  opacity: 0.4;
}
