input[type="range"] {
  -webkit-appearance: none;
  margin: 0 0 0 24px;
  width: 80%;
  height: 2px;
  position: absolute;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(var(--orange), var(--orange));
  background-repeat: no-repeat;
}

input[type="range"]:hover {
  height: 1px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--orange);
}

input[type="range"]::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--orange);
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--orange);
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
