.calculator__input {
  max-width: 427px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 16px;
}

.calculator__input:focus-within {
  outline: 1px solid var(--light-gray);
  background-color: var(--white);
}

@media screen and (max-width: 1024px) {
  .calculator__input {
    max-width: 100%;
  }
}
