.calculator__number {
  font-family: "Nekst-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  display: flex;
  align-self: center;
  color: var(--gray);
}

.calculator__number > span {
  padding-left: 15px;
}

@media screen and (max-width: 1024px) {
  .calculator__number {
    color: var(--dark-gray);
  }
}

@media screen and (max-width: 550px) {
  .calculator__number {
    font-size: 22px;
  }
}
